# **Nama : Erika Dwi Puspitasari**
# **NIM : 082111633010**
# **Kelas : AVD PRAK - I3**

# **------------------DATA PRE-PROCESSING-----------------------**

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

In [4]:
data_day = pd.read_csv("day.csv")
df = pd.DataFrame(data_day)

#Inputkan 3 record dari data t
three_record = df.head(3)
print(three_record)

   instant      dteday  season  yr  mnth  holiday  weekday  workingday  \
0        1  2011-01-01       1   0     1        0        6           0
1        2  2011-01-02       1   0     1        0        0           0
2        3  2011-01-03       1   0     1        0        1           1

   weathersit      temp     atemp       hum  windspeed  casual  registered  \
0           2  0.344167  0.363625  0.805833   0.160446     331         654
1           2  0.363478  0.353739  0.696087   0.248539     131         670
2           1  0.196364  0.189405  0.437273   0.248309     120        1229

    cnt
0   985
1   801
2  1349

### **Mengambil variabel**

In [5]:
multiple_atribut = three_record.loc[:, ['casual', 'registered', 'cnt']]
print(multiple_atribut)

   casual  registered   cnt
0     331         654   985
1     131         670   801
2     120        1229  1349

### **Mendeteksi dan menampilkan outlier**

In [6]:
# Pilih kolom-kolom yang ingin Anda deteksi outlier-nya
kolom_target = ['casual', 'registered', 'cnt']

In [7]:
# Definisikan fungsi untuk mendeteksi outlier
def detect_outliers(data, kolom):
    outliers = []
    threshold = 3
    mean = np.mean(data[kolom])
    std = np.std(data[kolom])
    z_scores = np.abs(stats.zscore(data[kolom]))
    kolom_outliers = data[z_scores > threshold]
    return kolom_outliers

# Lakukan deteksi outlier untuk setiap kolom yang dipilih
outlier_datapoints = {}
for kolom in kolom_target:
    outlier_datapoints[kolom] = detect_outliers(data_day, kolom)

# Tampilkan hasil deteksi outlier untuk setiap kolom
for kolom, outlier_data in outlier_datapoints.items():
    print(f"Outliers in {kolom}:")
    print(outlier_data)
    print()

Outliers in casual:
     instant      dteday  season  yr  mnth  holiday  weekday  workingday  \
184      185  2011-07-04       3   0     7        1        1           0
441      442  2012-03-17       1   1     3        0        6           0
462      463  2012-04-07       2   1     4        0        6           0
504      505  2012-05-19       2   1     5        0        6           0
512      513  2012-05-27       2   1     5        0        0           0
532      533  2012-06-16       2   1     6        0        6           0
623      624  2012-09-15       3   1     9        0        6           0
644      645  2012-10-06       4   1    10        0        6           0

     weathersit      temp     atemp       hum  windspeed  casual  registered  \
184           2  0.726667  0.665417  0.637917   0.081479    3065        2978
441           2  0.514167  0.505046  0.755833   0.110704    3155        4681
462           1  0.437500  0.426129  0.254167   0.274871    3252        3605
504           1  0.600000  0.566908  0.456250   0.083975    3410        4884
512           1  0.690000  0.641425  0.697083   0.215171    3283        3308
532           1  0.631667  0.594708  0.504167   0.166667    2963        4739
623           1  0.608333  0.585867  0.501667   0.247521    3160        5554
644           1  0.554167  0.538521  0.664167   0.268025    3031        4934

      cnt
184  6043
441  7836
462  6857
504  8294
512  6591
532  7702
623  8714
644  7965

Outliers in registered:
Empty DataFrame
Columns: [instant, dteday, season, yr, mnth, holiday, weekday, workingday, weathersit, temp, atemp, hum, windspeed, casual, registered, cnt]
Index: []

Outliers in cnt:
Empty DataFrame
Columns: [instant, dteday, season, yr, mnth, holiday, weekday, workingday, weathersit, temp, atemp, hum, windspeed, casual, registered, cnt]
Index: []

### **Menghilangkan outlier dari DataFrame df berdasarkan metode z-score.**

Output : kita akan mendapatkan DataFrame baru new_data_day yang telah dihapus outlier-nya dari kolom yang telah dipilih

In [8]:
# Hitung z-score untuk kolom yang dipilih
z_scores = stats.zscore(data_day[kolom_target])

# Ambil nilai absolut dari z-score
abs_z_scores = np.abs(z_scores)

# Buat kondisi untuk menghapus outlier
filtered_entries = (abs_z_scores < 3).all(axis=1)

# Buat DataFrame baru tanpa outlier
new_data_day = data_day[filtered_entries]

# Tampilkan DataFrame baru tanpa outlier
print(new_data_day)

     instant      dteday  season  yr  mnth  holiday  weekday  workingday  \
0          1  2011-01-01       1   0     1        0        6           0
1          2  2011-01-02       1   0     1        0        0           0
2          3  2011-01-03       1   0     1        0        1           1
3          4  2011-01-04       1   0     1        0        2           1
4          5  2011-01-05       1   0     1        0        3           1
..       ...         ...     ...  ..   ...      ...      ...         ...
726      727  2012-12-27       1   1    12        0        4           1
727      728  2012-12-28       1   1    12        0        5           1
728      729  2012-12-29       1   1    12        0        6           0
729      730  2012-12-30       1   1    12        0        0           0
730      731  2012-12-31       1   1    12        0        1           1

     weathersit      temp     atemp       hum  windspeed  casual  registered  \
0             2  0.344167  0.363625  0.805833   0.160446     331         654
1             2  0.363478  0.353739  0.696087   0.248539     131         670
2             1  0.196364  0.189405  0.437273   0.248309     120        1229
3             1  0.200000  0.212122  0.590435   0.160296     108        1454
4             1  0.226957  0.229270  0.436957   0.186900      82        1518
..          ...       ...       ...       ...        ...     ...         ...
726           2  0.254167  0.226642  0.652917   0.350133     247        1867
727           2  0.253333  0.255046  0.590000   0.155471     644        2451
728           2  0.253333  0.242400  0.752917   0.124383     159        1182
729           1  0.255833  0.231700  0.483333   0.350754     364        1432
730           2  0.215833  0.223487  0.577500   0.154846     439        2290

      cnt
0     985
1     801
2    1349
3    1562
4    1600
..    ...
726  2114
727  3095
728  1341
729  1796
730  2729

[723 rows x 16 columns]

In [14]:
new_data_columns = new_data_day.loc[:, ['casual', 'registered', 'cnt']]
print(new_data_columns)

     casual  registered   cnt
0       331         654   985
1       131         670   801
2       120        1229  1349
3       108        1454  1562
4        82        1518  1600
..      ...         ...   ...
726     247        1867  2114
727     644        2451  3095
728     159        1182  1341
729     364        1432  1796
730     439        2290  2729

[723 rows x 3 columns]

## **Mendeteksi Missing Value**

In [15]:
new_data_columns.isna().sum()

casual        0
registered    0
cnt           0
dtype: int64

Tidak ditemukan adanya missing value sehingga tidak perlu dilakukan langkah-langkah penanganan terhadap missing value

## **Normalisasi**

In [16]:
from sklearn import preprocessing

In [17]:
min_max_scaler = preprocessing.MinMaxScaler()
np_scaled = min_max_scaler.fit_transform(new_data_columns)
df_normalized = pd.DataFrame(np_scaled)

print("\nData hasil normalisasi:\n", df_normalized)

Data hasil normalisasi:
             0         1         2
0    0.115317  0.091539  0.112856
1    0.045216  0.093849  0.091293
2    0.041360  0.174560  0.155514
3    0.037154  0.207046  0.180476
4    0.028041  0.216286  0.184929
..        ...       ...       ...
718  0.085875  0.266676  0.245166
719  0.225026  0.350996  0.360131
720  0.055030  0.167774  0.154576
721  0.126884  0.203869  0.207899
722  0.153172  0.327751  0.317239

[723 rows x 3 columns]